* {
  box-sizing: border-box;
}

:root {
  /* khai báo biến */
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
  /* với tỉ lệ này -> có thể quy đổi được 1rem = 10px */
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ================common: chung==================== */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0px 16px; /*16px là có ngụ ý*/
  /* xem lại kiến thức Block - inline, inline-block bài 51, có nói kỹ về nút bấm */

  text-align: center;
  color: #fff;
  font-size: 1.6rem;

  font-weight: 600;
  border-radius: /*24.5px*/ 999px;
  background: #171100;

  /* code chiều cao nút bấm */
  line-height: 50px;
  /* code độ rộng */
  min-width: 118px;
}

.main-content {
  width: 1170px;
  /* chú ý */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* khi code phần left hero nghĩ đến hover cho nút */
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* code phần popular */
/* ===> phần popular top: có heading-lv2: chỉ h2_liên tưởng đến tổng quan cho về sau */
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;

  font-weight: 700;
  line-height: 1.27;
  /* 1.27*3.8rem=4.826rem=48___26px theo video:48px */
  letter-spacing: -0.76px;
}
/* tối ưu hóa item */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  /* line-clamp: var(--line-clamp, 1); */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* xuống dòng chữ dài */
.break-all {
  word-break: break-all;
}

/* ===============header============================================ */
.header {
  background-color: #a2e456e7;
}

.header .body-header {
  display: flex;
  /* căn các item nằm ngang ra */
  align-items: center;
  padding: 36px 0 8px;
}

/* chú ý */
.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  /* font-size là 16px vẫn giống 1.6rem vì mình đã quy đổi lại trang web ngay từ đầu */
  font-size: 1.6rem;
  padding: 8px 21px;
}

/* lưu ý */
.nav li.active a,
/* --- làm cho home đậm đen lên*/
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* thay font-weight bằng text-shadow => không giật text*/
  text-shadow: 1px 0 0 currentColor;
}

/* thêm dấu gạch_bài 83, before_after*/
.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  /* với trạng thái display là inline thì phần tử không xét được width, height => cần thêm display_block 0r inline-block */
  border-radius: 1px;
  background: #171100;

  /* dùng position: absolute thì quay lại bài 87.2; ==> tác động vào thẻ a có position: relative; thì */
  position: absolute;
  left: 21px;
  bottom: 6px;
}

/* tác động độ rộng nhỏ nhất cho nút Sign Up */
header .btn-sign-up {
  min-width: 144px;
}

/* xử lý dùng sticky-hiệu ứng bám dính- để neo header lại khi cuộn trang xuống cần quay lại body-header trong header*/
.header.fixed {
  position: sticky;
  top: -28px;

  z-index: 1;
}

/* code khoảng cách giữa Reviews và Sign Up */
.header .action {
  margin-left: 49px;
}

/* ====================hero============================== */
.hero {
  /* dùng padding thay vì margin Vì padding đổ nền được */
  /* margin-top: 56px; */
  padding: 56px 0 65px /*ban đầu chỉ có 56px. Về sau ==> top:56px__bottom:65px*/;
  background-color: #a2e456e7;
}

.hero .body {
  display: flex;
}

/* ============= hero left ================ */
/* tính tỉ lệ: 570px : 1170px_main-content trong common = 48% */
.hero .media-block {
  position: relative;
  width: 48%;
}

/* thay ảnh và chỉnh sửa lại kích thước ảnh */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

/* phân luồng cho .hero-summary */
.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  /* code phần nền */
  border-radius: 12px;
  background: #fff;
  box-sizing: 0 16px 32 0px rgb(0, 0, 0, 0.5);
}

.hero-summary .item {
  display: flex;
  /* vậy mà cũng nhìn ra được */
  align-items: center;
}
/* tác động vào item sau item đầu tiên 
---> không thấy thay đổi là nhìn ngang ===> nhìn dọc sẽ có thay đổi*/
.hero-summary .item + .item {
  margin-top: 16px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;

  border-radius: 50%;
  /* căn giữa */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

/* xử lý info */
/* khoảng cách khối info */
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  /* line-height: 26px; */
  /* 26px =2.6rem => lấy tỉ lệ: 2.6rem:1.4rem = 185,714% */
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 30px = 3rem => lấy tỉ lệ: 3rem:1.8rem = 166,666% */
}

/* ============= hero right ================ */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: Sen;
  /* tạo một biến, trước thẻ html, để dùng font này vào những lần sau */
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  /* 1.17*5.8rem=6.786rem=67.86px___theo video:68px*/
  letter-spacing: -1.16px;
  /* thay đổi khoảng cách giũa các ký tự */
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.hero .cta-group {
  margin-top: 38px;

  display: flex;
  /* căn giữa theo chiều dọc */
  align-items: center;
}
/* chỉnh nút see courses */
.hero-cta {
  min-width: 180px;
  /* màu: gọi biến. Vì về sau còn dùng nhiều lần */
  background-color: var(--primary-color);
  line-height: 64px; /* độ cao nút bấm, bỏ: lớn hơn quy định thông thường, khác mặt định thông thường */
  /* xử lý bán kính bo của nút này, của sự đồng nhất với nút sign up, và quay lên .btn ở trên mà làm */
}
.hero .watch-video {
  border: none;
  background: transparent;
  /* 2 item xoay ngang */
  display: flex;
  /* xoay ngang ra thì đến .hero .cta-group*/
  /* khoảng cách chiều ngang */
  margin-left: 28px;

  /* căn giữa 2 item */
  align-items: center;

  cursor: pointer;
}
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  /* căn giữa */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.07);
}
/* style: watch-video và khoảng cách với .icon*/
.hero .watch-video span {
  margin-left: 14px;

  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: /*30px*/ 1.67;

  /* thêm cursor vào .watch-video */
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /*54px quy đổi thành*/

  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .stats {
  margin-top: 8px;
}
/* xử lý phần ảnh bị chèn lên phần header => dùng z-index cho .header.fixed */

/* ======================popular=================================== */
.popular {
  /* thêm padding giả định => xử lý sau này có thêm nền thì nền không bị sát vào chữ */
  padding: 65px 0;
  /* background-color: lightcoral; */

  margin-top: 135px;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;

  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular-top {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  background-color: transparent;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-color);
}
.popular-top .control-btn :hover {
  background-color: var(--primary-color);
  color: #fff;

  cursor: pointer;
}
/* quay lên .popular-top ta align-item: center nó */

.popular .course-list {
  margin-top: 55px;

  display: flex;
  gap: 30px;
  /* khoảng cách giữa các phần tử con */
  /* background-color: yellow; */
}
.popular .course-list .thumb {
  width: 100%;
  /* max-width: 270px; */
  /* giới hạn độ rộng tối đa */
  /* flex: 1; */
  /* flex-grow: 1; */
  border-radius: 12px 12px 0 0 /* bo góc trên cùng bên trái và phải */;
  height: 270px;
  object-fit: cover;
  /* cover: ảnh sẽ bị cắt bớt để vừa khít với khung hình */
  /* contain: ảnh sẽ được co dãn để vừa khít với khung hình */
  /* fill: ảnh sẽ bị kéo dãn không giữ tỉ lệ để vừa khít với khung hình */
}

.popular .course-item {
  /* max-width: 270px; */
  /* giới hạn độ rộng tối đa */
  /* ----------------->>>>>>>>>>>>>>> flex: 1; */
  /* flex-grow: 1; */
  /* flex-basis: 0; */
  /* flex-shrink: 1; */

  /* border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 18px 36x 0 rgb(0, 0, 0, 0.05); */
  /* box-shadow: hắt bóng */

  /* xử lý phần padding bên trong */
  /* display: flex;
  flex-direction: column; */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e2dfde;

  flex: 1;
  /* trọng số của 3 item đều bằng 1 -> đều bằng nhau */
}
/* khi chúng ta click vào item trên thì chúng ta làm gì với nó, bên dưới */
.popular .course-item:hover {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 18px 36px 0 rgb(0, 0, 0, 0.05);
  border: 1px solid transparent;
  /* box-shadow: hắt bóng */
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .raiting,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /*30px=3rem => lấy tỉ lệ: 3rem:1.8rem = 166,666% */
  /* line-height: 1.67; */
  /* khoảng cách giữa các dòng */
}
/* .popular .course-item .rating {
  display: flex;
  align-items: center;
} */
.popular .raiting .star {
  margin-right: 8px;

  width: 16px;
  height: 16px;
}
/* máy mình không hiểu .rating nên đã thay .raiting */
.popular .raiting .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75; /*24.5px=2.45rem => lấy tỉ lệ: 2.45rem:1.4rem = 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /*26.04px=2.604rem => lấy tỉ lệ: 2.604rem:1.4rem = 186% */
}

.popular .course-item .foot {
  margin-top: 12px;
  /* margin-top: auto; */
  /* đẩy phần chân xuống dưới cùng */
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /*30px=3rem => lấy tỉ lệ: 3rem:1.8rem = 166,666% */
  /* line-height: 1.67; */
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
  color: #fff;

  /* cursor: pointer; */
  /* thêm lên common */
}
/* tối ưu hóa popular */
/* tác động flex vào 3 course-item -> quay lên .course-item */

/* =========================================feedback============================================================ */
/* tránh trường hợp khi người dùng thêm nền vào thì nền dính sát chữ => padding trên dưới là 65px. Trường hợp này mình đã code trong phần popular */
.feedback {
  margin-top: 135px;
  /* khối này có nền */
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback-list {
  display: flex;

  overflow: hidden;
}

.feedback-item {
  width: 100%;
  /* nhớ thêm width: 100% nghe */
  display: flex;
  /* justify-content: space-between; */

  flex-shrink: 0;
}
.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%; /*hình tròn*/
  object-fit: cover;
}
.feedback-item .info .member-name {
  margin-top: 18px;

  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}
.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  /* khoảng cách giữa 3 cái chấm */
  gap: 6px;
}
.feedback-item .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;

  cursor: pointer;
}
.feedback-item .dot.active {
  background-color: var(--primary-color);

  cursor: default;
}

.feedback-item .content {
  width: 66%; /*772px : 1170px*/
  margin-left: auto;
  /* hoặc justify-content ở .feedback-item */
}
.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* =====================================features-1======================================= */
.features {
  margin-top: 135px;
  /* để nền không chèn thì tính padding */
  padding: 65px 0;
  /* background-color: lightsalmon; */
}
.features .body {
  display: flex;

  justify-content: space-between;
}

.features .images {
  display: flex;

  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%; /* 470px : 1170px*/

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}
.features .cta-btn {
  width: 137px;
  height: 50px;
  background-color: var(--primary-color);
  margin-top: 32px;
}
/* =====================================features-2======================================= */
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .content {
  width: 49%; /* 570px : 1170px */
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  /* flex-shrink: 0; */
}

/* =====================================blogs======================================= */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #fffcf4;
}
.blogs .blog-top {
  text-align: center;
}
.blogs .blog-top .desc {
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;

  width: 448px;
  margin: 16px auto 0;
}

.blogs .blog-list {
  margin-top: 55px;
  display: flex;

  gap: 30px;

  overflow: hidden;
}
.blogs .item {
  /* width: 33.33%; */
  width: calc(33.33% - 20px);

  border-radius: 16px;
  background-color: #fff;

  flex-shrink: 0;
}
/* bóng đổ cho item */
.blogs .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;

  border-radius: 16px 16px 0 0;
  height: 250px;
  object-fit: cover;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}
.blogs .item .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;

  /* display: flex; */
  display: inline-flex;
  align-items: center;

  position: relative;

  padding-bottom: 12px;
}
.blogs .item .date::before {
  /* mặc định có content */
  content: "";
  /* xét được kích thước, dùng display: inline-block; */
  display: inline-block;
  width: 6px;
  height: 6px;
  /* là hình tròn */
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 4px;
}
.blogs .item .date::after {
  content: "";
  display: inline-block;
  /* width: 160px; */
  right: -27px;
  height: 1px;
  border-radius: 0.5px;
  background-color: #e2dfda;

  position: absolute;
  left: 0;
  bottom: 0;
}
.blogs .item .title {
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
.blogs .item .btn {
  margin-top: 12px;

  font-size: 1.4rem;
}
.blogs .item .btn:hover {
  background: var(--primary-color);
}

.blogs .dots {
  display: flex;
  gap: 6px;

  justify-content: center;
  margin-top: 38px;
}
.blogs .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;

  cursor: pointer;
}
.blogs .dot.active {
  background: var(--primary-color);

  cursor: default;
}
